.singlePost a {
  text-decoration: none;
}
.singlePost {
  position: relative;
  height: 300px;
  width: 33.33%;
  float: left;
  background: no-repeat center center;
  background-size: cover!important;
}
.singlePost:nth-of-type(5n){
  width: 66.666%;
  float:left;
}
.singlePost h1{background: rgba(9,9,9,.5); color: white; padding: 2px 5px}

.singlePost:hover h1{
  background: #000;
}

.watchAndAdd {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000;width: 100%;
}

.watchAndAdd a, .watchAndAdd p{
  padding: 0px;
  color: #fff;
  padding:10px;
  margin: 0px;
  cursor: pointer;
}
.singlePost:hover .watchAndAdd{
  display: flex;
}



@media (max-width: 900px){
.singlePost:nth-of-type(5n), .singlePost {
  width: 100%
  }
}
