.Navigation {
  width: 30px; height: 100%; min-height:100vh; float: left; padding-left: 10px; font-kearning:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Navigation h2{
  writing-mode: vertical-rl;
  text-orientation: upright;
}


@media (max-width: 900px){
  .Navigation{float: left; width: 100%; min-height: auto; height: auto;}
  .Navigation h2 {text-orientation: unset; writing-mode: initial}
}
